<div class="container">
	<div class="row">
                <div class="col m-3">
                    <h3 class="text-center text-primary">订单</h3>
                </div>
                {{# each orders}}
			<div class="card bg-primary text-primary">
				  <div class="card-header text-white">
				    订单号: <t style="font-size:70%">{{this.paymentId}}</t>
				  </div>
				  <ul class="list-group list-group-flush">
                                      {{# each this.items }}
				          <li class="list-group-item">
                                              {{this.item.title}}  X  {{this.qty}}
                                              <span class="badge badge-success float-right">{{this.price}}元</span>
                                          </li>
                                      {{/each}}
				  </ul>
                                  <div class="card-header row text-white">
                                      <div class="col">
                                          <strong>总计: {{this.cart.totalPrice}} 元</strong>
                                      </div>
                                      <div class="col bg-white text-center text-warning">
                                          <t> {{this.orderStatus}}</t>
                                      </div>
                                  </div>
			</div>
                        <hr class="dashed">
                 {{/each}}
	</div>
</div>
